<div class="container">
    <h1 class="heading">GBM Simulator</h1>
    <div class="gbm-info">
      <p>
        Geometric Brownian Motion (GBM) is a stochastic process used to model the random behavior of financial assets,
        such as currency exchange rates and stock prices. It assumes that the logarithm of the asset's price follows a
        Brownian motion with constant drift and volatility. GBM is widely used in finance to simulate and predict price
        movements over time.
      </p>
    </div>
    <div class="box-container">
      <div class="box">
        <p class="box-text">Geometric Brownian Motion for Currency Exchange Rates</p>
        <button mat-raised-button color="primary" routerLink="/forexgbm">Go to Currency Simulator</button>
      </div>
      <div class="box">
        <p class="box-text">Geometric Brownian Motion for Stocks</p>
        <button mat-raised-button color="primary" routerLink="/stocksgbm">Go to Stocks Simulator</button>
      </div>
    </div>
  </div>
  